# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
# .env
# .env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# ML Models (optional - if large)
*.h5
*.pt
*.pth
*.ckpt

# Node (if React frontend)
node_modules/
dist/
build/

# Coverage reports
.coverage
htmlcov/

tests/
test_image
README.md