# pip install paddlepaddle-gpu==3.3.1 \
#   -i https://www.paddlepaddle.org.cn/packages/stable/cu130/

# pip install "paddleocr[doc-parser]==3.5.0"


--index-url https://pypi.org/simple
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cu130/

paddlepaddle-gpu==3.3.1
paddleocr[doc-parser]==3.5.0

fastapi
uvicorn
python-multipart
pydantic-settings
